body {
  background-size:cover;
  background-repeat:no-repeat;
}

div{
  position: relative;
  top: 2px;

}

img{
  position: relative;
  top: 70px;
}

#align{
  padding-top: 50px;
  padding-bottom: 10px;
}
